$green: #00B100;
$blue: #0034FF;

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Exo 2', sans-serif;
}

.close {
    position: absolute;
    top: -40px;
    right: -40px;
    display: block;
    content: '';
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: $green;
    z-index: 99999;
    cursor: pointer;

    .cross {
        width: 100%;
        height: 100%;
        &::before, &::after {
            display: block;
            content: '';
            width: 50px;
            height: 3px;
            background: white;
            position: relative;
        }

        &::before {
            transform: rotate(45deg);
            top: 40px;
            left: 15px;
        }
        &::after {
            transform: rotate(-45deg);
            top: 37px;
            left: 15px;
        }
    }
}

.order-form {
    background-color: rgba(0, 0, 0, 0.57);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999999;

    .form-wrap{
        padding: 32px 40px;
        background: white;
        border-radius: 10px;
        position: relative;

        > p{
            position: relative;
            margin-bottom: 40px;
            font-size: 30px;
            text-align: right;

            span {
                color: $green;
            }

            &::after {
                display: block;
                content: '';
                width: 250px;
                height: 2px;
                background: $blue;
                right: 0px;
                position: absolute;
            }
        }

        #orderForm {
            display: grid;
            grid-template-columns: max-content max-content;

            .span {
                display: none;
            }

            .orderWrapper {
                margin-right: 50px;

                .err{
                    display: none;
                    margin-top: 15px;
                    font-size: 20px;
                    color: rgb(255, 31, 76);
                }

                .userFields {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    grid-row-gap: 35px;
                    grid-column-gap: 25px;

                    > div{
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: flex-end;


                        span {
                            color: $green;
                            padding-bottom: 7px;
                            font-size: 19px;
                        }

                        .textBox {
                            padding: 1px;
                            position: relative;
                            background: #ccc;
                            z-index: 1;
                            border-radius: 6px;
                            overflow: hidden;

                            input {
                                color: #708090;
                                box-sizing: border-box;
                                font-size: 16px;
                                outline: none;
                                border: none;
                                z-index: 2;
                                padding: 10px;
                                box-sizing: border-box;
                                border-radius: 5px;

                                &:focus ~ .border {
                                    width: 100%;
                                    height: 100%;
                                    padding: 3px;
                                }
                            }

                            .border {
                                position: absolute;
                                content: '';
                                top: -5px;
                                left: -5px;
                                width: 0%;
                                height: 0%;
                                background: $blue;
                                z-index: -1;
                                transition: height 0.3s, width 0.3s 0.1s;
                            }
                        }
                    }
                }

                .price-and-confirm-button {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 55px;

                    p {
                        color: $green;
                        font-size: 25px;
                        font-weight: lighter;
                        padding-left: 90px;
                    }

                    input[type="submit"] {
                        background: $green;
                        color: white;
                        padding: 10px 15px;
                        font-size: 19px;
                        border-radius: 5px;
                        outline: none;
                        border: none;
                        cursor: pointer;

                        &:hover {
                            background: $blue;
                            transition: background 0.5s;
                        }
                    }
                }
            }

            .bundleBrief {
                display: grid;
                grid-template-rows: auto max-content max-content;

                .bundleImage {
                    display: block;
                    content: '';
                    background: url("../img/client/index//bundles/dv-present.jpg");
                    background-position: center center;
                    background-size: cover;
                    margin-bottom: 15px;
                }

                p {
                    &:nth-child(2) {
                        width: 100%;
                        text-align: right;
                        font-size: 22px;
                        margin-bottom: 2px;
                    }

                    &:nth-child(3) {
                        width: 100%;
                        text-align: right;
                        color: #979797;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.scroll {
    width: 100px;
    height: 150px;
    cursor: pointer;

    &::before, &::after {
        display: block;
        content: '';
        width: 4px;
        height: 80px;
        background: $green;
        transform: rotate(45deg);

        position: relative;
        left: 50%;
    }

    &::before {
        bottom: -44.5%;
    }

    &::after {
        transform: rotate(135deg);
        top: -45%;
    }
}

.left {
    transform: scaleX(-1);
}

.bundles-collection {
    .scroll {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(365%, -50%) scale(0.3);
        z-index: 99999;

        &::before, &::after {
            width: 12px;
        }

        &::after {
            top: -42%;
        }
    }

    .left {
        transform: translate(-465%, -50%) scale(-0.3);
    }
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.57);


    >.bundle-frame {

        position: relative;
        background: white;
        padding: 40px;
        height: 500px;
        width: 800px;
        border-radius: 10px;

        #bundleClose{
            position: fixed;
            transform: translate(800px, -80px);
            top: inherit;
            right: inherit;
            // width: 40px;
            // height: 40px;
        }

        .carton {
            .bundle-text {
                .bundle-head {
                    p {
                        &:nth-child(2) {
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        .ussrbundle {
            .bundle-text {
                .bundle-content {
                    padding-top: 15px;
                    li {
                        &:nth-child(1), &:nth-child(5), &:nth-child(13), &:nth-child(16) {
                            font-weight: bold;
                            padding-top: 2px;
                        }
                    }
                }
            }
        }

        .bundle-sections {
            span {
                display: block;
                width: 15px;
                height: 10px;
                border: solid 1px #808080;
                border-radius: 3px;
                margin: 0px 3px;
                background: linear-gradient(to right, $green 50%, white 50%);
                background-size: 200% 100%;
                background-position:right bottom;
                margin-left:10px;
                transition:background .5s linear;

            }

            .active {
                 background-position:left bottom;

            }

            display: flex;
            flex-flow: row nowrap;
            height: max-content;
            width: max-content;
            position: relative;
            top: 103.5%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;
            z-index: 99999;
        }

        >div:not(.bundle-sections):not(#bundleClose) {

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            text-align: right;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            opacity: 0;

            .bundle-text {
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                height: 395px;
                .bundle-head {
                    p {
                        &:nth-child(1) {
                            font-size: 30px;
                        }
                        &:last-child {
                            padding-top: 5px;
                            font-size: 22px;
                            color: $green;
                        }
                    }
                }
                .bundle-content {
                    padding-top: 30px;
                    li {
                        list-style-type: none;
                        font-size: 14px;
                        text-indent: 80px;
                    }
                    p {
                        font-size: 14px;
                        margin-left: 80px;
                    }
                }
            }

            .bundle-image-and-button {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                margin-left: 20px;
                img {
                    height: 320px;
                    width: 320px;
                }

                .order-button {
                    margin-top: 15px;
                    width: 100%;
                    padding: 15px 0px;
                }
            }
        }
    }
}

.order-button {
    background: $green;
    color: white;
    padding: 15px 5px;
    text-align: center;
    width: 70%;
    font-size: 25px;
    font-weight: 300;
    cursor: pointer;
}

.arrow-stick {
    display: block;
    content: '';
    width: 50%;
    height: 2px;
    background: $blue;
    position: relative;
}

.arrow-down {
    display: block;
    content: '';
    height: 40px;
    width: 2px;
    background: $blue;
    position: relative;
    border-radius: 20px;

    &::before, &::after {
        display: block;
        content: '';
        height: 18px;
        width: 2px;
        transform: rotate(45deg);
        position: absolute;
        bottom: -3px;
        left:6px;
        background: $blue;
        border-radius: 20px;
    }

    &::after {
        transform: rotate(-45deg);
        left: -6px;
    }
}

.arrow-mobile {
    width: 6px;
    height: 100px;
    display: block;
    content: '';
    background: $green;

    &::before, &::after {
        display: block;
        content: "";
        width: 40px;
        height: 6px;
        background: $green;
        border-radius: 3px;

        position: relative;

    }

    &::after {
        transform: rotate(-45deg);

        bottom: -133px;
        left: -5px;
    }

    &::before {
        transform: rotate(45deg);

        bottom: -139px;
        left: -29px;
    }
}

.arrow-straight {
    &::before, &::after {
        display: block;
        content: '';
        height: 2px;
        width: 18px;
        transform: rotate(45deg);
        position: absolute;
        background: $blue;
        border-radius: 20px;
        right: -3px;
        top: -6px;
    }

    &::after {
        top: 6px;
        transform: rotate(135deg);
    }
}

.ok {
    &::before {
        display: block;
        content: '';
        height: 4px;
        width: 50px;
        background: $green;
        transform: rotate(45deg);
        position: relative;
        left: 0px;
    }

    &::after {
        display: block;
        content: '';
        height: 4px;
        width: 80px;
        background: $green;
        transform: rotate(135deg);
        position: relative;
        left: 30px;
        top: -13px;
    }
}

.top-menu {
    
    span:not(.btn-span), a:not(.menu-btn) {
        img {
            height: 40px;
            padding: 0px 5px;
        }
        text-decoration: none;
        color: $green;
        font-size: 19px;
        margin-left: 35px;
        cursor: pointer;

        &:hover {
            color: $blue;
            transition: 0.5s ease-out;
        }
    }

    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100vw;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    background: white;
    box-shadow: 0px 2.5px 2px rgba(0, 0, 0, 0.25);
}

.wrapper {
    padding-top: 50px;

    .first-page {
        display: flex;
        flex-flow: row nowrap;

        min-height: calc(100vh - 50px);
        max-height: calc(100vh - 50px);
        // box-sizing: border-box;

        .first-page-text {
            background-image: url("../img/client/index/first-page-bg.png");
            background-size: cover;
            background-position: 50% 50%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            width: 50%;
            border-right: 4px solid $green;

            p {
                width: 355px;
                &:nth-child(1) {
                    color: $green;
                    font-size: 40px;
                }
                &:nth-child(2) {
                    font-size: 20px;
                }
                &:nth-child(3) {
                    font-weight: 300;
                    font-size: 30px;
                    padding-top: 30px;
                    padding-bottom: 60px;
                }
            }

            .order-button {
                width: 350px;
            }
        }

        .first-page-bundles-button {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            width: 50%;
            margin-top: 50px;

            img {
                width: 80%;
                max-width: 500px;
                // height: 45%;
                &:hover {
                    cursor: pointer;
                }
            }

            // @media screen and (max-width: 1070px){
            //     width: ;
            // }

            .arrows {
                position: relative;
                padding-top: 20px;
                height: max-content;
                width: 200px;
                height: 100px;

                .arrow {
                    padding-top: 25px;
                    &::after, &::before {
                        display: block;
                        content: '';
                        width: 100px;
                        height: 8px;
                        background: $blue;

                        transform: rotate(45deg);
                        position: absolute;
                        left: 15px;
                    }

                    &::before {
                        transform: rotate(135deg);
                        left: 80px;
                    }

                    transform: scaleY(0.6);

                    &:nth-child(2) {
                        &::after, &::before {
                            width: 140px;

                            left: -19px;
                        }
                        &::before {
                            left: 76px;
                        }
                    }
                }

                &:hover {
                    cursor: pointer;
                    .arrow {
                        &::before, &::after {
                            transition: 0.4s;
                            background: $green;
                        }
                    }
                }
            }

            span {
                font-size: 24px;
                padding-top: 20px;
                padding-bottom: 5px;

                &::before, &::after {
                    position: relative;
                    top: 0px;
                    left: calc(50% - 1px);

                    display: block;
                    content: "";
                    background: $blue;
                    height: 50px;
                    width: 2px;
                }

                &::after {
                    bottom: 0px;
                }
            }

            #arrows {
                width: 200px;
                height: 200px;
            }
        }
    }

    .why-text-page {

        display: grid;
        grid-template-areas:
            'title title'
            'text1 arrow1'
            'arrow2 text2'
            'text3 arrow3';
        grid-column-gap: 15vw;
        grid-row-gap: 50px;
        justify-content: center;
        align-items: center;
        padding: 100px 10vw;
        position: relative;

        p {
            font-size: 22px;

            span {
                color: $green;
            }

            &:nth-child(1) {
                font-size: 40px;
                grid-area: title;
                padding-bottom: 60px;
                text-align: center;

                span {
                    position: relative;

                    &::after {
                        margin-top: 10px;
                        display: block;
                        content: '';
                        background: $blue;
                        width: 240px;
                        height: 2px;
                        position: absolute;
                        left: -477px;
                    }
                }
            }

            &:nth-child(2) {
                grid-area: text1;
            }

            &:nth-child(5) {
                grid-area: text2;
            }

            &:nth-child(6) {
                grid-area: text3;
            }
        }

        >div {
            margin: 60px 0px;

            &:nth-child(3) {
                grid-area: arrow1;

                .arrow-down {
                    position: absolute;
                    right: 0px;
                }
            }

            &:nth-child(4) {
                grid-area: arrow2;

                position: absolute;
                right: 0px;
            }

            &:nth-child(7) {
                grid-area: arrow3;
                position: relative;

            }

            .ok {
                display: block;
                content: '';
                width: 120px;
                height: 70px;
                margin-left: 65%;

                position: relative;
            }
        }
    }

    .bundle-variants {
        padding: 35px 40px;
        background-image: url("../img/client/index/bundles-page-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        >p {
            font-size: 26px;

            &::after {
                display: block;
                content: '';
                width: 85px;
                height: 2px;
                margin-top: 4px;
                background: $blue;
            }
        }

        .bundles {
            padding-top: 25px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;

            >div {
                max-width: 300px;
                width: 25%;
                padding: 30px 30px;
                margin: 0px 10px;
                background: white;
                border-radius: 7px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;

                img {
                    width: 100%;
                }

                .image-and-bundle-name {
                    p {
                        font-size: 20px;
                        padding-top: 5px;
                        line-height: 22px;
                    }
                }
                .bundle-details {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: flex-end;

                    p {
                        padding: 10px 0px;
                    }

                    span {
                        margin-top: 10px;
                        color: $blue;
                        cursor: pointer;
                    }
                }

                .order-button {
                    width: 100%;
                    padding: 10px 0px;
                    font-size: 18px;
                }
            }
        }

        .bundle-selector {
            padding-top: 30px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            .selector {
                display: block;
                width: 80px;
                height: 80px;
                text-align: center;
                line-height: 80px;
                border-radius: 10px;
                background: #F9F9F9;
                font-size: 44px;
                color: black;
                cursor: pointer;
                margin: 0px 12.5px;

                &:hover {
                    background: $blue;
                    color: #F9F9F9;
                    transition: 1s ease-in-out;
                }

                display: none;
            }

            .active {
                background: #476AE6;
                color: white;
            }
        }
    }

    .clients-reviews {
        padding: 30px 40px;

        >p {
            padding-bottom: 40px;
            font-size: 26px;
            max-width: 250px;

            &::after {
                display: block;
                content: '';
                width: 85px;
                height: 2px;
                margin-top: 4px;
                background: $blue;
            }
        }

        .clients-reviews-content {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;

            .reviews {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;

                .review {
                    display: none;
                    width: 700px;
                    height: 360px;
                    border-radius: 7px;
                    background: #F2F2F2;
                    padding: 0px 20px;
                    margin: 0px 40px;
                    justify-content: center;
                    align-items: center;

                    .user-info {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        align-items: flex-start;

                        .user-img{
                            width: 55%;

                            img{
                                width: 100%;
                            }
                        }

                        .user-name-and-bundle {
                            margin-left: 20px;
                            width: 45%;
                            box-sizing: border-box;
                            >p {
                                &:nth-child(1) {
                                    font-style: bold;
                                    font-size: 24px;
                                    max-width: 50px;
                                }
                                &:nth-child(2) {
                                    font-style: bold;
                                    font-size: 18px;
                                    color: $green;
                                    padding-top: 7px;
                                }
                                &:nth-child(3) {
                                    padding-top: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        display: grid;
        grid-template-columns: max-content auto;
        border-top: 1px solid black;

        .owner {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            padding: 30px;
            box-sizing: border-box;


            img {
                width: 420px;
                height: 420px;
            }

            span {
                padding-top: 10px;
            }
        }

        .contacts {
            background-image: url("../img/client/index/first-page-bg.png");
            background-size: cover;
            background-position: 50% 50%;
            padding: 50px 40px;
            border-left: 3px $blue solid;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            p {
                &:nth-child(1) {
                    font-size: 34px;
                    text-transform: uppercase;

                    &::after {
                        display: block;
                        content: '';
                        width: 160px;
                        height: 2px;
                        background: $blue;
                    }
                }

                &:nth-child(2) {
                    font-size: 20px;
                    padding-top: 25px;
                    padding-left: 3px;

                    .footer-info {
                        color: #476AE6;
                    }
                }

                &:nth-child(3) {
                    margin-top: 5px;
                    font-size: 20px;
                    padding-top: 5px;
                    padding-left: 3px;

                   .footer-info {
                        color: #476AE6;
                    }
                }
            }

            .social-medias {
                display: flex;
                flex-flow: row nowrap;
                padding-top: 25px;
                width: 60%;

                img {
                    width: 70px;
                    margin: 0px 5px;
                }
            }

            .logo-and-text {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                padding-top: 40px;

                .logo-footer-img-wrap{
                    display: flex;
                    position: relative;
                    width: 130px;

                    &:after{
                        display: block;
                        content: '';
                        width: 2px;
                        height: 100%;
                        background: #0034FF;
                        position: absolute;
                        right: -20px;
                    }

                    img{
                        width: 100%;
                    }
                }

                span {
                    color: $blue;
                    margin-left: 40px;
                    font-size: 26px;
                }
            }
        }

    }
}


@media screen and (max-width: 980px) {
    .bundles-collection{
        .right {
            transform: translate(170%, -50%) scale(0.7);
        }
        .left {
            transform: translate(-270%, -44%) scale(-0.7);
        }

        .bundle-frame {
            width: 80%;
            height: 80%;
            padding: 20px;
            overflow-y: scroll;

            .bundle-sections {
                top: 150%;
                padding-bottom: 40px;
            }

            >div:not(.bundle-sections) {
                flex-flow: column nowrap;

                .bundle-text {
                    margin-top: 75px;
                    text-align: right;
                    padding: 30px;

                    .bundle-head {
                        justify-content: flex-end;
                        text-indent: 30%;
                        margin-bottom: 420px;
                    }
                }

                .bundle-image-and-button {
                    img {
                        width: 300px;
                        height: 300px;
                    }
                    position: relative;
                    width: 300px;
                    transform: translate(0%, -75%);
                    margin: 0px;
                }
            }
        }
    }
}


//FUCKING
@media screen and (max-width: 900px) {

    .order-form {

        .form-wrap{
            max-height: 450px;
            overflow-y: auto;
            padding: 16px 13px;

            > p{
                font-size: 20px;

                &:after{
                    width: 150px;
                }
            }

            .close{
                position: fixed;
                transform: translate(260px, -32px);
                top: inherit;
                right: inherit;
                width: 40px;
                height: 40px;

                .cross{
                    &:before, &:after{
                        width: 30px;
                    }
                    
                    &:after{
                        top: 16px;
                        left: 5.2px;
                    }

                    &:before{
                        top: 19px;
                        left: 5.2px;
                    }
                }
            }

            #orderForm{
                grid-template-columns: 1fr;
                
                .orderWrapper{
                    margin-right: 0px;
                    grid-row: 2;
                    margin-top: 30px;

                    .userFields{
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr;
                        grid-row-gap: 10px;

                        > div span{
                            margin-top: 20px;
                        }

                        > div .textBox{
                            width: 100%;

                            input{
                                width: 100%;
                            }
                        }
                    }

                    .price-and-confirm-button{
                        flex-flow: column;
                        align-items: flex-end;
                        margin-top: 35px;
                        
                        > p{
                            margin-bottom: 10px;
                            padding-left: 0px;
                            font-size: 17px;
                        }
                    }
                }

                .bundleBrief{
                    grid-row: 1;

                    p:nth-child(2){
                        font-size: 15px;
                    }

                    .bundleImage{
                        width: 100%;
                        height: 400px;
                    }
                }
            }
        } 
    }

    .top-menu {
        box-shadow: 0px 2.5px 2px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
        box-sizing: border-box;
        
        span{
            display: none;
        }

        span:nth-child(2){
            display: block;
        }

        span:not(.btn-span), a:not(.menu-btn){
            margin-left: 0px;
        }
    }

    .wrapper {
        padding-top: 0px;
        .first-page {
            flex-flow: column nowrap;
            align-items: center;
            background-image: url("../img/client/index/first-page-bg.png");
            background-size: cover;
            background-position: 50% 50%;
            max-height: 950px;
            padding-bottom: 120px;

            .first-page-text {
                width: 100%;
                text-align: center;
                padding-top: 40px;
                background-image: none;
                border: none;

                p {
                    width: 100%;
                }

                p:nth-child(1){
                    margin-top: 20px;
                }

                .order-button {
                    width: 80%;
                }
            }

            .first-page-bundles-button {
                img {
                    width: 120%;
                }

                span {
                    &::before, &::after {
                        background: $green;
                        width: 3px;
                    }
                }

                .arrows {
                    .arrow {
                        &::before, &::after{
                            background: $green;
                        }
                    }
                }

            }
        }

        .why-text-page {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            padding-bottom: 50px;

            p {
                &:not(&:nth-child(1)) {
                line-height: 40px;
                text-align: left;
                padding: 0px 30px;
                }

                &:nth-child(1) {
                    max-width: 300px;
                    order: 1;
                    padding-bottom: 20px;

                    span::after {
                        position: static;
                        width: 100px;
                        background: $green;
                        margin-left: 35px;
                    }
                }

                &:nth-child(2) {
                    order: 2;
                }

                &:nth-child(5) {
                    order: 4;
                }

                &:nth-child(6) {
                    order: 6;
                }
            }

            >div {

                margin: 0px;

                &:nth-child(3) {
                    order: 3;
                    padding-bottom: 50px;
                }

                &:nth-child(4) {
                    order: 5;
                    position: static;
                    padding-bottom: 50px;
                }

                &:nth-child(7) {
                    order: 7;
                    position: static;

                }

                .arrow-down {
                    display: none;
                }

                .arrow-straight {
                    display: none;
                }

                .ok {
                    margin-top: 60px;
                    margin-left: 48px;

                    transform: scale(1.5);
                }

            }

        }

        .bundle-variants {
            > p {
                font-size: 45px;
            }
            .bundles {
                justify-content: center;
                padding: 50px 0px;
                >div {
                    width: 70%;
                }
            }

            .bundle-selector {
                .selector {
                    display: block;
                }
            }
        }

        .clients-reviews {

            padding: 20px;

            >p {
                font-size: 30px;
                width: 100%;
                text-align: left;
                margin-bottom: 20px;
            }

            .clients-reviews-content {
                
                .scroll {
                    width: 80px;
                    transform: scale(0.4) translateX(20px);
                    // translate(-70px, 0px)

                    &::before, &::after {
                        width: 12px;
                    }

                    &::after {
                        top: -42%;
                    }
                }

                .left {
                    transform: scale(-0.4) translateX(20px);
                    // translate(-63px, -13px)
                }

                .reviews {
                    width: 100%;
                    .review {
                        height: max-content;
                        width: 100%;
                        height: auto;
                        padding: 15px;
                        box-sizing: border-box;
                        margin: 0px;

                        .user-info {
                            flex-flow: column nowrap;
                            align-items: flex-start;
                            align-items: center;

                            .user-img, .user-name-and-bundle{
                                min-width: 200px;
                                width: 100%;
                            }

                            .user-name-and-bundle {
                                padding-top: 20px;
                                margin: 0px;
                            }
                        }
                    }
                }
            }
        }

        .footer {
            grid-template-columns: 1fr;
            background-image: url("../img/client/index/first-page-bg.png");
            background-size: cover;
            background-position: 50% 50%;
            min-height: 1210px;

            .owner {
                img {
                    height: auto;
                    width: 100%;
                }
            }

            .contacts {
                background: none;
                border-left: none;
                padding-top: 10px;
                align-items: center;

                > p {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                }

                > p:nth-child(2){
                    .footer-info{
                        margin-top: 5px;
                    }
                }

                > p:nth-child(3){
                    margin-top: 10px;
                    .footer-info{
                        margin-top: 5px;
                    }
                }

                .social-medias {
                    flex-flow: column nowrap;
                    align-items: center;

                    img {
                        width: 90px;
                        margin: 10px 0px;
                    }
                }

                .logo-and-text {

                    .logo-footer-img-wrap{
                        width: 50%;
                    }
                    
                    img {
                        width: 60px;
                    }

                    span {
                        max-width: 80px;

                        &::before {
                            top: 4px;
                        }
                    }
                }
            }
        }
    }
}
