.col-2 {
  display: grid;
  grid-template-rows: max-content auto; }

.upload-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px dashed #000;
  box-sizing: border-box; }
  .upload-block span {
    font-size: 22px; }

.drop-zone #img {
  width: 100%; }

.active-upload-block {
  color: #60E6A4;
  border: 2px dashed #60E6A4; }

@media screen and (max-width: 1340px) {
  .upload-block {
    height: 600px; } }
