.order-active {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #01D76E;
  cursor: pointer;
  position: absolute;
  top: 19px;
  left: -15px; }

.flex-td {
  position: relative; }
