<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta charset="utf-8">
        <script src="https://kit.fontawesome.com/0ac3347e62.js" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="/css/admin/page-wrapper.css">
        {{{style linkCss}}}
    </head>
    <body>
        {{>admin/menu}}

        <div class="wrapper">
            {{{body}}}
        </div>
        
    </body>
</html>