.flash-mes {
  position: fixed;
  bottom: 50px;
  left: -800px;
  transition: 0.5s left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  border-left: 3px solid #60E6A4;
  background: #fff; }
  .flash-mes #flash-mes-close {
    position: absolute;
    top: -5px;
    right: 5px;
    font-size: 32px;
    cursor: pointer;
    color: #60E6A4; }

.flash-mes-active {
  left: 50px;
  transition: 0.5s left; }
