#search-form{
    display: flex;
    $radius: 8px;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 10px 13px;
        height: 60px;
        background: #fff;
        border-right: 2px solid #01D76E;
        border-radius: $radius 0px 0px $radius;
    }
    
    input[name=search-data]{
        border: 0;
        padding: 15px;
        box-sizing: border-box;
        font-size: 19px;
        border-radius: 0px $radius $radius 0px;
        color: rgb(101, 101, 104);
    }

    input[name=search-data]:focus{
        outline: 0;
    }
}


.search-data-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 9999;

    .data{
        background: #F5F6FA;
        padding: 30px;
        max-height: 700px;
        overflow-y: auto;
        width: 80%;
        border-radius: 10px;
    }
}