.tableView{
    width: 100%;
    border-spacing: 0px 18px;

    tr{
        $radius: 8px;

        th{
            text-align: left;
            box-sizing: border-box;
            padding-left: 15px;
            font-size: 20.2px;
        }

        th:first-child{
            box-sizing: border-box;
            padding-left: 15px;
        }

        td:first-child{
            border-right: 2px solid #01D76E;
            padding: 22px 30px;
            border-radius: $radius 0px 0px $radius;
            text-align: center;
        }

        td:last-child{
            display: grid;
            grid-template-columns: max-content max-content max-content;
            grid-column-gap: 10px;
            border-radius: 0px $radius $radius 0px;
        }

    }

    td{
        background: #fff;
        padding: 22px;
        font-size: 19px;
    }
}