.order-active-wrap{
    position: absolute;
    left: -15px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.order-active{
    width: 24px;
    height: 24px;
    border-radius: 15px;
    background: #01D76E;
    cursor: pointer;
}

.flex-td{
    position: relative;
}