.view-content {
  display: grid;
  grid-template-columns: 46% auto;
  grid-column-gap: 50px;
  width: 100%;
  border-radius: 10px;
  margin-top: 50px;
  background: #fff;
  padding: 30px;
  box-sizing: border-box; }

form {
  display: grid;
  grid-row-gap: 30px; }
  form .row {
    display: flex; }
    form .row .margin {
      margin-right: 20px; }
    form .row .col {
      display: grid;
      grid-row-gap: 10px; }
      form .row .col span {
        font-size: 20px;
        color: #19be6c; }
      form .row .col input {
        border-radius: 8px;
        border: 1px solid #808080;
        font-size: 19px;
        padding: 10px; }
      form .row .col input[type=submit] {
        background: #60E6A4;
        color: #fff; }
      form .row .col textarea {
        width: 100%;
        height: 300px;
        resize: none;
        border-radius: 8px;
        border: 1px solid #808080;
        font-size: 17px;
        padding: 10px;
        box-sizing: border-box; }
      form .row .col select {
        border-radius: 8px;
        border: 1px solid #808080;
        font-size: 19px;
        padding: 10px; }
      form .row .col input[type=submit] {
        border: 0px solid;
        padding: 15px 20px;
        cursor: pointer; }
        form .row .col input[type=submit]:hover {
          transition: 0.5s;
          background: #19be6c; }
      form .row .col input[type=checkbox] {
        width: 30px;
        height: 30px; }
    form .row:nth-child(1) .col, form .row:nth-child(3) .col {
      width: 50%; }
    form .row:nth-child(2) .col, form .row:nth-child(4) .col {
      width: 100%; }
    form .row:last-child {
      justify-content: flex-end; }

@media screen and (max-width: 1340px) {
  .view-content {
    grid-template-columns: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 30px; }
  form .row:last-child {
    justify-content: flex-start; } }
