.pages p {
  display: block;
  margin-bottom: 15px;
  font-size: 19px; }
  .pages p span {
    color: #13DB79; }

.pages ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50px);
  grid-column-gap: 5px; }
  .pages ul li {
    list-style: none; }
    .pages ul li a {
      display: block;
      box-sizing: border-box;
      padding: 15px 0px;
      text-align: center;
      background: #DBDDE1;
      color: #000;
      text-decoration: none;
      font-size: 20px; }
      .pages ul li a:hover {
        transition: 0.6s;
        background: #a8a9ad; }
    .pages ul li .ellipsis {
      padding: 15px 0px;
      font-size: 20px;
      color: #000;
      height: max-content;
      line-height: 10px;
      text-align: center; }
    .pages ul li .page-active {
      background: #13DB79;
      color: #fff; }
      .pages ul li .page-active:hover {
        transition: 0.6s;
        background: #00b95e; }
    .pages ul li .step-a {
      background: rgba(0, 0, 0, 0);
      font-size: 26px;
      height: 54px;
      line-height: 20px; }
