<div class="menu">
    <div>
        <ul class="col-1">
            <li>
                <a href="/admin/orders">Заказы</a>
            </li>
            <li>
                <a href="/admin/comments">Отзывы</a>
            </li>
        </ul>
        
        <div class="col-2">
            <div class="alert-wrap">
                <img src="/img/admin/menu/alert.svg" alt="">
            </div>
            <div class="admin-wrap">
                <span>Администратор</span>
                <a href="/"><img src="/img/admin/menu/logout.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>