<div class="title">
    <h1>Отзывы</h1>
    <span>Добавление</span>
</div>

<div class="view-content">
    <div class="col-1">
        {{>admin/comments/form}}
    </div>
    <div class="col-2">
        <div class="wrap-progress-bar">

        </div>
        <div class="drop-zone upload-block">
            <span>Перетащите файл сюда</span>
        </div>
    </div>
</div>

<script>
    let
        csrf = '{{csrf}}',
        id   = undefined;
</script>

<script src="/js/admin/comment/file-upload.js"></script>

