<div class="title">
    <h1>Отзывы</h1>
    <span>Редактирование с id: {{comment.number}}</span>
</div>

<div class="add">
    <a class="btn-add bth-back" href="/admin/comments">&larr; Все отзывы</a>
</div>

<div class="view-content">
    <div class="col-1">
        {{>admin/comments/form}}
    </div>
    <div class="col-2">
        <div class="wrap-progress-bar">
        
        </div>
        <div class="drop-zone">
            <img id='img' src="/img/comments/{{comment.img}}" alt="">
        </div>
    </div>
</div>

<script>
    let
        csrf = '{{csrf}}',
        id   = '{{comment.id}}';
</script>

<script src="/js/admin/comment/file-upload.js"></script>