<div class="title">
    <h1>Отзывы</h1>
    <span>Редактирование с id: {{comment.number}}</span>
</div>

<div class="view-content">
    <div class="col-1">
        {{>admin/comments/form}}
    </div>
    <div class="col-2"></div>
</div>